.footer {
  background-color: #1f0988;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 12px 8%;
  font-size: 12px;
}

.footer >  ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer >  ul > li{
}
